<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Noto+Sans+KR:wght@100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/home/confirmation.css">
    <title>Document</title>
</head>
<body>
    <div class="title18"><center>EXPECTATION</center></div><br>
    <center><img src="/picture" ></center>
    <form action="/result" method="post">
        <button class="s-btn" type="submit">생육단계 추정</button>
    </form>
</body>
</html>