<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Noto+Sans+KR:wght@100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/home/index.css">
    <title>Document</title>
</head>
<body>
    <div id ="title" class="title16"><center>oo! ROOT!</center></div><br><br><br>
    <button class="w-btn" type="button"><a href="/upload">생육단계 추정</a></button><br><br><br>
    <button class="w-btn2" type="button"><a href="/mypage">마이 페이지</a></button><br><br><br>
    <button class="w-btn3" type="button"><a href="/prepare">CCTV</a></button><br><br><br>
    <button class="w-btn4" type="button"><a href="/prepare">커뮤니티</a></button><br><br><br>
</body>
</html>