<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Noto+Sans+KR:wght@100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/home/mypage.css">
    <title>Document</title>
</head>

<body>
    <br>
    <div id="title" class="title11">
        <center>MY PAGE</center>
    </div><br><br><br>
    <button class="w-btn5" type="button"><a href="/information">회원정보 수정</a></button><br><br><br>
    <button class="w-btn6" type="button"><a href="/index">돌아가기</a></button><br><br><br>
</body>

</html>

