<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Noto+Sans+KR:wght@100&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/css/home/login.css">
    <script src = "/js/home/register.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <div class="signupText"><span>SIGNUP</span></div>
            <input id = "id" type="text" placeholder="아이디"/>
            <input id = "name" type="text" placeholder="이름"/>
            <input id = "psword" type="password" placeholder="비밀번호"/>
            <input id = "confirm-psword" type="password" placeholder="비밀번호 확인"/>
            <div id="button" class ="button14">SIGN UP</div>
            <p class="message">Already registered? <a href="/login">login</a></p>
          </form>
        </div>
      </div>
</body>
</html>

<!-- Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->