<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Noto+Sans+KR:wght@100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/home/result.css">
    <title>Document</title>
</head>
<body>
    <div class="title21"><center>RESULT</center></div><br>
    <center><img src="/picture_YOLO" /></center>
    <div class="more3">
        <button class="w-btn8" type="button" ><a href="/index">돌아가기</button>
    </div>
</body>
</html>