<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Noto+Sans+KR:wght@100&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="./css/home/upload.css">
  <title>Document</title>
</head>

<body>
  <div id="title" class="title12">
    <center>SELECT IMAGE!</center>
  </div>
  <br>
  <br>
  <form action="/confirmation" enctype="multipart/form-data" method="post">
    <center>
      <input type="file" name="attachment">
      <button class="u-btn" type="submit" name="u-btn">upload</a></button>
    </center>
  </form>
  <hr>
</body>

</html>